BRIGHT_PATH="/sys/class/backlight/intel_backlight"
BRIGHT_STEPS=8

CHARGE_START_HIGH=81
CHARGE_END_HIGH=95
CHARGE_START_LOW=60
CHARGE_END_LOW=80

NET_DOWN=/etc/init.d/ifplugd suspend
NET_UP=/etc/init.d/ifplugd resume
